 body {
            min-height: 100vh;
            font-family: Poppins, sans-serif !important;
            line-height: 24px !important;


        }
     
        
        .navbar-blur {
          background-image: url(../img/home3.jpg);
          background-size: cover;
          background-position: center;
          height: 100vh;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }